body {
	background-color: #dbdbdb;
}

#prime-checker {
	background-color: #89a9dd;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.the-primes {
	background-color: #587cb7;
	padding: 15px;
	margin: 10px;
}

.data {
	background-color: #587cb7;
	border-radius: 30%;
	width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 10px;
}

.inline {
    display: inline-block;
}

#warning {
	background-color: white;
	padding: 0;
	margin: 0;
	display: inline-block;
	color: red;
	font-size: 20px;
	border-radius: 22%;
	border: 2px solid red;
}

#warning-dismissal {
	display: inline-block;
	position: relative;
	float: right;
	background-color: red;
	border-color: red;
	color: white;
}